*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Gill Sans', sans-serif;
}

.delete-img{
  position: relative;
  cursor: pointer;
  top: -105px;
  right: -125px;
}

header{
  position: absolute;
  background-color: rgb(85, 142, 228);
  top: 0;
  left: 0;
  width: 100%;
}

h1{
  font-size: 30px;
  font-weight: bold;
  color: white;
}

button{
  cursor: pointer;
}

.container{
  position: absolute;
  margin-top: 90px;
}

.text-area{
  display:inline-block;
  background-color : white;
  color: rgb(85, 142, 228);
  width : 400px;
  height: 160px;
  white-space: pre;
  margin: 10px;
  padding : 2px;
  border : 5px solid rgb(85, 142, 228);
  text-align: center;
  font-size: 25px;
  box-shadow: 3px 6px rgb(85, 142, 228, 0.6);
}

.toggle-button{
  font-size: 14px;
  width: 60px;
  height: 35px;
  border-radius: 20%;
  color: white;
}

.toggle-button:hover{
  width: 60px;
  height: 40px;
}

.active{
  background-color: green;
}

.passive{
  background-color: red;
}

.wrapper{  
  display: block;
  text-align: center;
}

form{
  position: absolute;
  background-color: rgb(85, 142, 228);
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  width: 300px;
  height: 450px;
  border: 1px solid white;
}

#view-form{
  width: 70px;
  height: 70px;
  background-color: rgb(85, 142, 228);
  padding-bottom: 4px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  border-radius: 50%;
}

#view-form:hover{
  width: 80px;
  height: 80px;
}

.float-right{
  float: right;
  clear: right;
}

#status{
  margin-top: 10px;
  width: 100px;
  font-size: 14px;
  color: #8a8686;
}

#submit-form{
  margin-top: 25px;
  font-size: 16px;
  border-radius: 15%;
  color: rgb(85, 142, 228);
}

#cancel-form{
  float: right;
  border-radius: 25%;
  margin: 4px;
  background-color: white;
  width: 24px;
  height: 24px;
  font-size:12px;
  color: rgb(85, 142, 228);
}


input{
  padding: 10px;
  font-size: 14px;
  margin: 8px;
}

footer{
  display: inline-block;
  position: absolute;
  bottom: 100px;
  right: 100px;
  width: 100%;
}

.form-title{
  margin: auto;
  margin-bottom: 25px;
  margin-top: 15px;
  text-align: center;
}

.logo{
  align-content: flex-start;
  margin-left:20px;
}